.index {
  text-align: center;
  justify-content: center;
  overflow: hidden;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  img {
    height: 270px;
    width: 270px;
  }

  .post{
    background: $primary-color;
    text-align: center;
    padding: 1rem 1rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 0.5rem;
      background: $secondary-color;
    }


    .titlesIndex {
      text-transform: uppercase;
      text-decoration: none;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
