// Widescreens
@include mediaXl {

}

// Desktops & Laptops
@include mediaLg {
  .articles {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .postView {
    grid-template-columns: 1fr;
  }
}

// Smartphones
@include mediaSm {
}
