.postView {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.left-pane,
 .right-pane {
  background: $primary-color;

  &-content {
    margin: 1rem;
    padding: 1rem;
    color: $tetiary-color;
    text-align: center;
  }

  .postImage {
    height: 470px;
    width: 100%;

    &-extra {
      height: 400px;
      width: 90%;
      margin: 20px 0 0 0;
    }
  }

  .article {
    line-height: 2.5;
    text-align: left;

    &:hover {
      cursor: pointer;
    }
  }
}

.recent-post,
.archives {
  text-transform: uppercase;
  margin-bottom: 20px;
}
