@import "config";
@import "menu";
@import "index";
@import "postView";
@import "adminLogin";
@import "adminDashboard";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: $tetiary-color;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1, h2, h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }
}

a {
  color: $tetiary-color;
  text-decoration: none;
}

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
}

.text-secondary {
  color: $secondary-color;
}

.footer {
  text-align: center;
  padding: 1rem 0 0 0;
  color: inherit;
  background: rgba(lighten($primary-color, 2), 0.9);
  height: 60px;
}

.formWrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 15px;
}

.inputWrapper{
  padding: 0 0 20px 0;
}

.inputLabel {
  text-transform: uppercase;
  padding: 0 0 5px 0;
}

.formError{
  background-color: #c83737;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #d87070;
  border-width: 2px;
  border-style: solid;
}

.formSuccess{
  background-color: #217844;
  font-style: italic;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 0 15px 0;
  text-align: center;
  border-color: #35c06d;
  border-width: 2px;
  border-style: solid;
}

.cta{
  background-color: $tetiary-color;
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding: 15px;
  width: 150px;
  cursor: pointer;
}

.cta.yellow{
  background-color: $secondary-color !important;
}

input {
  border-width: 1px;
  border-radius: 2px;
  padding: 7px 1%;
  width: 100%;
}

@import "mobile";
