<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <base href="{global.baseUrl}" />

    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

  </head>
  <body class="{body.class}">
    <div class="wrapper">
      <div class="index">
        Hello World!
      </div>
      <div class="footer">
        <div class="copyright">
          Copyright {global.yearCreated} {global.companyName} | All Rights Reserved
        </div>
      </div>
    </div>
  </body>
</html>
